@{
    ViewData["Title"] = "Documentation";
}
<h1 class="pagetitle">@ViewData["Title"]</h1>

<p id="infotext">Running on ASP.NET Core 5.0 using:</p>
<p> * Razor </p>
<p> * Docker enabled </p>
<p> * Valve GameNetworkingSockets C++</p>
<p> * ValveSockets C# Abstraction</p>
<p> * NewtonSoft Json library</p>
<p> * System.Numerics.Vectors</p>
<p> * Javascript <p>
    
   <p>Intergrated Mods:</p>
   <p>* TheGarage By VolutionModding<p/>
   <p>* Patcha MapLoader by VolutionModding</p>
